body {
  width: 100vw;
  background-color: white;
  margin: 0;
  padding: 0;

  background-size: cover;
  background-position: 10%;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  height: 100vh;
}

/****************************/
/************Header****************/
/****************************/
nav {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  padding: 25px 0;
  /* border-bottom: 3px solid black; */
}

.headLink {
  text-decoration: none;
  color: black;
}

.headLink:hover {
  color: blue;
  font-weight: 700;
}

/****************************/
/************Search****************/
/****************************/

.search {
  background-image: url(./thrills\ &\ spills\ imgs/bg.jpg);
  background-size: cover;
  background-position: 100%;

  padding: 50px;
}

input {
  width: 40%;
  margin: 20px 0 50px 0;
  font-size: 20px;

  /* box-shadow: 0 0 10px white;
  border: none;*/
  border-radius: 50px;
  padding: 10px;
}

.mainSearchBar {
  color: black;
}

input:hover {
  background-color: beige;
}

button {
  margin-left: 20px;

  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px;
  background-color: rgb(177, 124, 124);
  color: white;
}

button:hover {
  color: blue;
  font-weight: 700;
}

/****************************/
/************display****************/
/****************************/

.content {
  width: 80%;
  margin: 0 auto;
}

.content h1 {
  text-align: left;
  margin: 50px 0 40px;
  font-weight: 400;
}

.trending {
  display: flex;
  justify-content: space-between;
}

.img-wrapper {
}

.img-wrapper img {
  width: 200px;
}

.categories section {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

/****************************/
/************ParkCard****************/
/****************************/

.parkcards {
  width: 300px;
}

.parkcards img {
  width: 100%;
  height: 200px;
}

.parkcards-info {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.parkcards-info h3 {
  color: black;
}

.parkcards-info p {
  border-radius: 50px;
  padding: 5px 10px;
  color: white;
}

.viewPage {
  text-decoration: none;
}

.parkcards:hover {
  transform: scale(110%);
}

.parkcards h3 {
  margin: 0;
}

.parkcards p {
  margin: 0;
}

/****************************/
/************AddRides****************/
/****************************/

.createRide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #8c9094;

  height: 100%;
  width: 50%;
  margin: 50px auto;
  opacity: 0.8;
}

.createRide input {
  display: block;
  width: 100%;

  opacity: 1;
  border-radius: 4px;
}

input,
select,
textarea {
  color: #ffffff;
}

.createRide button {
  margin-bottom: 50px;
  color: black;
}

/****************************/
/************AddPark****************/
/****************************/

.addPark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #8c9094;

  height: 100%;
  width: 60%;
  margin: 50px auto;
  opacity: 0.8;
}

.addPark form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.addPark input {
  width: 60%;
}

.addPark button {
  margin: 0 0 50px;
}

/****************************/
/************ViewPage****************/
/****************************/

.parkImage {
  border-top: 2px solid gray;
  display: flex;
}

.discription {
  margin: 50px 0 0 50px;
  text-align: left;
}

.discription h3 {
  font-size: 15px;
  font-weight: 300;
  border-radius: 50px;
  text-align: center;
  width: fit-content;
  padding: 5px 10px;
  color: white;
}

.parkopened {
  margin: 50px 0;
  font-size: 12px;
}

.parkImage img {
  text-align: left;
  width: 60%;
}

.parkRides {
  width: 80%;
  margin: 0 auto;
}

.parkRides h1 {
  font-weight: 400;
  text-align: left;
}

.rides {
  display: flex;
  justify-content: start;
}

.rides a {
}

/****************************/
/************RideCards****************/
/****************************/

.ride-img {
  text-align: left;
}

.ride-img img {
  width: 300px;
  height: 300px;
}

.ride-img h1 {
  font-size: 15px;
  margin: 5px 0 0 0;
}

.ride-img p {
  font-size: 12px;
  margin-top: 3px;
}

.rideLink {
  text-decoration: none;
  color: black;
  margin-right: 100px;
}

/****************************/
/************ViewRide****************/
/****************************/

.viewCard {
}

.cardImg {
  width: 100%;
  height: 500px;
}

.viewCard img {
  width: 100%;
  height: 500px;
}

.cardDes {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0 0;
}

.cardDes h1 {
  text-align: left;
  width: 40%;
}

.cardDes div {
  width: 50%;
  text-align: left;
}
