body {
  width: 100vw;
}

.App {
  text-align: center;
}

/****************************/
/************Header****************/
/****************************/
nav {
  display: flex;
  justify-content: flex-end;
  column-gap: 50px;
}

/****************************/
/************Search****************/
/****************************/

input {
  width: 40%;
  margin: 20px 0 50px 0;
  color: red;
  font-size: 20px;
}

button {
  margin-left: 20px;

  font-size: 20px;
}

.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}

.img-wrapper {
}

.img-wrapper img {
  width: 200px;
}

.categories section {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
