body {
  width: 100vw;
  background-color: white;
  margin: 0;
  padding: 0;

  background-size: cover;
  background-position: 10%;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  height: 100vh;
}

/****************************/
/************Header****************/
/****************************/
nav {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  padding: 25px 0;
  /* border-bottom: 3px solid black; */
}

.headLink {
  text-decoration: none;
  color: black;
}

.headLink:hover {
  color: blue;
  font-weight: 700;
}

/****************************/
/************Search****************/
/****************************/

.search {
  background-image: url(./thrills\ &\ spills\ imgs/bg.jpg);
  background-size: cover;
  background-position: 100%;

  padding: 50px;
}

input {
  width: 40%;
  margin: 20px 0 50px 0;
  font-size: 20px;

  /* box-shadow: 0 0 10px white;
  border: none;*/
  border-radius: 50px;
  padding: 10px;
}

.mainSearchBar {
  color: black;
}

input:hover {
  background-color: beige;
}

button {
  margin-left: 20px;

  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  color: blue;
  font-weight: 700;
}

/****************************/
/************display****************/
/****************************/

.content {
  width: 80%;
  margin: 0 auto;
}

.content h1 {
  text-align: left;
  margin: 50px 0 40px;
  font-weight: 400;
}

.trending {
  display: flex;
  justify-content: space-between;
}

.img-wrapper {
}

.img-wrapper img {
  width: 200px;
}

.categories section {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

/****************************/
/************ParkCard****************/
/****************************/

.parkcards {
  width: 300px;
}

.parkcards img {
  width: 100%;
  height: 200px;
}

.parkcards-info {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.parkcards-info h3 {
  color: black;
}

.parkcards-info p {
  border-radius: 50px;
  padding: 5px 10px;
  color: white;
}

.viewPage {
  text-decoration: none;
}

.parkcards:hover {
  transform: scale(110%);
}

.parkcards h3 {
  margin: 0;
}

.parkcards p {
  margin: 0;
}

/****************************/
/************CreateRide****************/
/****************************/

.createRide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #4c5760;

  height: 100%;
  width: 50%;
  margin: 200px auto;
  opacity: 0.8;

  border-radius: 50px;
}

.createRide input {
  display: block;
  width: 100%;
  background-color: black;
  opacity: 1;
}

input,
select,
textarea {
  color: #ffffff;
}
